.full{
    margin-top: 200px;
    margin-left: 550px;
}
.default{
    width: 80px;
    height: 45px;
}
.primary{
    width: 75px;
    height: 40px;
    padding: 0;
}
.success{
    width: 70px;
    height: 35px;
    padding: 0;
}
.info{
    width: 65px;
    height: 30px;
    padding: 0;
}
.warning{
    width: 60px;
    height: 25px;
    padding: 0;
}
.danger{
    width: 55px;
    height: 20px;
    padding: 0;
}
.txt{
    margin-top: -2px;
    font-size: 14px;
}