.razmer{
    width: 200px;
    height: 45px;
    margin-bottom: 15px;
}
.imgimgimg{
    margin-top: 50px;
    margin-left: 100px;
}
.razmer2{
    width: 45px;
    height: 44px;
    margin-bottom: 15px;
    margin-top: -90px;
    margin-left: 155px
}
.lightcls{
    color: white;
}
.full{
    margin-top: 70px;
}